<a class="nav-back" href="https://tannnz.com" target="_blank">
    <i class="fa fa-puzzle-piece"></i>
</a>

<a class="nav-back2" href="https://img.tannnz.com" target="_blank">
    <i class="fa fa-puzzle-piece"></i>
</a>

<a class="nav-back3" href="/archives">
    <i class="fa fa-puzzle-piece"></i>
</a>
